<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
  </div>
</template>

<script>
import Vue from 'vue'
import VueResource from 'vue-resource'
import axios from 'axios'
Vue.use(VueResource)
export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  },
  mounted () {
    axios.options('http://127.0.0.1:8000/').then(response => {
      // Do Somethings
      console.log(response.headers)
    }).catch(error => {
      console.log(error)
    })
    this.$nextTick(() => {
      console.info(document.querySelector('.hello h1').textContent)
    })
    this.$http.get('http://localhost:8080/').then(r => {
      this.msg = 'ok'
    }, e => {
      this.msg = 'fail'
    })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
